*{
    padding: 0;
    margin: 0;
}
body{
   background-color: rgb(10, 14, 29);

}
.header{
    position: absolute;
    padding-left: 70px;
    color:chocolate
}
.header .nav ul{
    text-decoration: none;
    display: flex;
    margin-left: 380%;
    color: aliceblue;
}
.header .nav ul li{
    float: right; 
    text-decoration: none;
    padding-right: 10%;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;

   
}
.header h1{
   margin-top: 5%;
}
.header .nav ul li:hover{
    cursor: pointer;
    color: chocolate;
    font-weight: 500;
    transition: 2s;
}
.main{
   display: flexbox;
    justify-content: center;
    align-items: center;
    color: rgb(248, 87, 28);
    padding: 15%;
}
.main h2{
    color: white;
    font-size: 25px;
}
.main h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 60px;
}
button{
    border-style: solid;
    border-radius:25% 25%;
    background-color: rgb(245, 100, 47);
    color: white;
    font-size: 15px;
    margin: 2%;
    padding: 3px 5PX;
    border-width: 5PX;

}
button:hover{
    color: chocolate;
   background-color: #ffff;
}
.main img{
    display: flex;
    float: right;
    width: 400px;
    height: 400px;
}
@media (max-width:991px){
    .header .nav ul li{
        
    }
}
